/* Réglages généraux */

@font-face {
    font-family: 'race sport';
    src: url('./Race\ Sport.ttf');

}

@font-face {
    font-family: 'astonpoliz';
    src: url('./Astonpoliz.ttf');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-blanc : #EEEEEE;
    --color-gris : #686D76;
    --color-fonce : #373A40;
    --color-clair : #e09393;

}


body {
    font-family: 'astonpoliz', sans-serif;
}




/* Header */

header {
    position: fixed;
    z-index: 10;
    background-color: var(--color-fonce);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-fonce);
    text-shadow: 1px 1px 2px var(color-pal);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

#header-haut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gris);
    color: var(--color-clair);
    margin: 0px;
    padding: 15px;
    width: 100vw;
    height: 23vh;

}

#header-logo {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-titre {
    width: 50vw;
    display: flex;
    flex-direction: column ;
    justify-content: center ;
    align-items: center ;
    letter-spacing: 2px;
}

#header-login {
    width: 25vw;
    border: var(--color-clair) solid 3px;
    border-radius: 5px;
    padding: 10px;
}




h1 {
    color: var(--color-blanc);
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
    font-family: Race Sport,sans-serif;
}


#logo {
    height: 15vh;
    display: block;
}


/* Barre sous le header avec image de fond*/
#header-bottom {
    width: 1OOvw;
    height: 10vh;
    background-image:url('../assets/books.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: center;
    border-top: var(--color-clair) solid 3px;
    border-bottom: var(--color-clair) solid 3px;
}

#burger-button {
    position : relative;
    top : 3vh;
    height: 60%;
    margin-left: 3vw;
    aspect-ratio: 1;
    background-color: var(--color-fonce);
    cursor: pointer;

}

/*mise en forme de formulaire*/

input, label{
    display: block;
    margin-top: 3px;
    width: 100%;
}



/*partie centrale*/
#central {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}



/*menu*/
nav {
    position: fixed;
    width: 20vw;
    height: 50vh;
    background-color: var(--color-gris);
    border-radius: 0 0 15px 15px;
    box-shadow: 2px 2px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    /*top: 33vh;*/
    top : -27vh;
    transition : top 1200ms;
}

.bouton {
    text-decoration: none;
    color: var(--color-blanc);  
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    display: block;
    padding: 20px;
    background-color: var(--color-fonce);
    width: 80%;
    border-radius: 20px;
    box-shadow: none;
    transition: box-shadow 200ms, color 1000ms,
    background-color 500ms;

}

.bouton:hover {
    box-shadow: #ff8e8e 5px 5px 15px 0;
    color: var(--color-clair);
    background-color: var(--color-fonce);
    width: 85%;

}
/*la partie centrale*/
main {
    position: relative;
    top: 33vh;
    left: 20vw;
    width: 80vw;
    padding: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}


/*le texte de présentation*/
article {
    padding: 20px;
    background-color: #ffffff48;
    box-shadow: #373A40 5px 5px 10px 0;
}

/*
iframe {
    width: 60%;
    aspect-ratio: 16/9;
    display: block;
    margin: 20px auto;
}*/

/*le choix du site*/

#sites {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.site {
    margin:15px;
    width: 300px;
    max-width: 75vw;
    min-width: 20vw;
    aspect-ratio: 1/1;
    border-radius: 10%;
    box-shadow: #000000 2px 2px 5px 0;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.nom-site {
    color: #000000;
    text-align: center;
    font-size: 3rem;
    margin-top: 70%;
    -webkit-text-stroke: #ffffff 1px;


}

#arm {
    background-image: url('../assets/e2cArmMono.png');
}

#lil {
    background-image: url('../assets/e2cLilleMono.png');
}

#rbx {
    background-image: url('../assets/e2cRoubaix.png');
}

#sto {
    background-image: url('../assets/e2cStoMono.png');
}

/*la sélection de livres*/


/* footer */

footer {
    position: relative;
    top: 33vh;
    width: 100vw;
    background-color: var(--color-gris);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

footer>div {
    width: 25%;
    padding: 10px;
}


/* la page de jeux*/
.select-zone {
    width: 100%;
}

#game-select {
    width: 80%;
    margin-top: 15px 0;
}

.apparence-zone {
padding: 20px;
background-color: #ffffff48;
box-shadow: #373A40 5px 5px 10px 0;
margin-bottom: 3vh;
}

.game-zone {
    width: 80vw;
}

/* le juste nombre */

.numberZone {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.numberChoice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.responseLine {
    font-weight: 700;
    margin: 15px 0;
}
